// Variables
$font-base-nunito: 'Nunito Sans', sans-serif;

body {
  $text-color: hsl(200, 15%, 8%);
  $input-color: hsl(0, 0%, 52%);
  $bkg-color: hsl(0, 0%, 98%);
  $el-color: hsl(0, 0%, 100%);

  &.dark-theme {
    $text-color: hsl(0, 0%, 100%);
    $bkg-color: hsl(207, 26%, 17%);
    $el-color: hsl(209, 23%, 22%);
  }
}