// Variables
:root {
  --font-base-nunito: 'Nunito Sans', sans-serif;
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --bkg-color: hsl(0, 0%, 98%);
  --el-color: hsl(0, 0%, 100%);
  --text-dark-color: hsl(0, 0%, 100%);
  --bkg-dark-color: hsl(207, 26%, 17%);
  --el-dark-color: hsl(209, 23%, 22%);
}