nav {
  padding: 2em 1em;
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li:first-of-type {
      font-weight: 800;
    }

    li:nth-child(2) {
      cursor: pointer;
      font-weight: 600;
    }

    .fa-moon {
      margin-right: 5px;
    }
  }
}