nav {
  background-color: var(--el-color);
  padding: 2em 1em;
  box-shadow: 0 8px 8px -7px #ccc;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li:first-of-type {
      font-weight: 800;
    }
  }
}